<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }} {{ if .Param "maths" }} {{ partialCached
    "maths.html" . }} {{ end }}
  </head>
  <body>
    <header data-pagefind-ignore="all">{{ partial "header.html" . }}</header>
    <main>{{ block "main" . }}{{ end }}</main>
    <div id="elm-node"></div>
    <script>
      var elm = Elm.Main.init({ node: document.getElementById("elm-node") });
    </script>
    <footer data-pagefind-ignore="all">{{ partial "footer.html" . }}</footer>
  </body>
</html>
