body {
  color: #ddd;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  background-color: #113;
  /* max-width: 768px;*/
}

header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  /* background-color: #115; */
}

/* search */
#search > div > form > input {
  box-sizing: border-box;
  border: 2px solid #015;
  border-radius: 4px;
  background-color: #113;
  padding: 8px 8px;
}

#search > div > form > button {
  background-color: #077;
  border: none;
  color: #ddd;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
}

/* header.jpg */
.float {
  float: right;
}

.scaled {
  /* 200px by 200px @ 60% => 100 px */
  max-width: 50%;
  width: auto;
  height: auto;
  /* makes space for afters to left */
  float: right;
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
}

a {
  color: #08e;
  text-decoration: none;
}

/* menus horizontal */
nav > ul > li {
  display: inline-block;
}

/* no space on left of menu */
nav > ul {
  padding-inline-start: 0px;
}

/* slightly bigger */
h1 {
  color: #dad;
  font-size: 2.3em;
}

/* inline code */
p > code {
  color: #a0f;
}

/* signature */
.signature {
  color: #009;
}

.tags > li {
  display: inline-block;
}

/* blockquote alerts */
.alert {
}

.alert-heading {
  font-size: 1.2em;
  font-weight: bold;
}

.alert-caution {
  background-color: #770;
}

.alert-important {
  background-color: #007;
}

.alert-note {
  background-color: #444;
}

.alert-tip {
  background-color: #070;
}

.alert-warning {
  background-color: #700;
}
