:root {
  --red: #700;
  --green: #070;
  --blue: #007;
  --yellow: #770;
  --cyan: #077;
  --magenta: #707;
  --white: #fff;
  --black: #000;
  /* link colour */
  --link-ink: #00f;
}

body {
  color: var(--white);
  font-family: sans-serif;
  /* slightly easier viewing */
  line-height: 1.5;
  margin: 1rem;
  background-color: var(--black);
}

header {
  border-bottom: 1px solid var(--white);
  margin-bottom: 1rem;
}

.g_id_signin {
  float: right;
}

/* search */
#search {
  margin: 1rem;
}

#search > div > form > input {
  box-sizing: border-box;
  border: 1px solid var(--cyan);
  padding: 4px;
  margin: 1rem;
  color: var(--white);
  background-color: var(--black);
}

#search > div > form > button {
  background-color: var(--cyan);
  border: none;
  color: var(--white);
  padding: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* header.jpg */
.float {
  float: right;
}

.scaled {
  /* 200px by 200px @ 60% => 100 px */
  max-width: 81%;
  width: auto;
  height: auto;
  /* makes space for afters to left */
  float: right;
}

footer {
  border-top: 1px solid var(--white);
  margin-top: 1rem;
}

a {
  color: var(--link-ink);
  /* confusion 
  text-decoration: none; */
}

/* menus horizontal */
nav > ul > li,
.tags > li,
.i {
  display: inline-block;
}

/* no space on left of menu */
nav > ul,
.l {
  padding-inline-start: 0px;
}

/* inline code */
p > code,
.a {
  /* jighest contrast to black */
  color: var(--link-ink);
}

/* signature */
.signature {
  color: var(--link-ink);
  font-style: italic;
}

/* blockquote alerts */
.alert-heading {
  font-weight: bold;
}

.alert {
  border-left: 4px solid var(--white);
  margin: 1rem;
  padding: 1rem;
}

.alert > p {
  margin: 0px;
}

.alert-caution,
.y {
  background-color: var(--yellow);
}

.alert-important,
.m {
  background-color: var(--magenta);
}

.alert-note,
.b {
  background-color: var(--blue);
}

.alert-tip,
.g {
  background-color: var(--green);
}

.alert-warning,
.r {
  background-color: var(--red);
}

.blockquote,
.c {
  background-color: var(--cyan);
}
