<div class="float">
  {{ $image := resources.Get "images/header.jpg" }}
  <img
    class="scaled"
    src="{{ $image.RelPermalink }}"
    width="{{ $image.Width }}"
    height="{{ $image.Height }}"
  />
</div>
<h1><a href="/">{{ site.Title }}</a></h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
<!-- <link href="/pagefind/pagefind-ui.css" rel="stylesheet" /> -->
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({
      element: "#search",
      showSubResults: true,
      resetStyles: false,
    });
  });
</script>
